<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p> Pour l'instant il n'y a rien ici.</p>
    <a href="/gossips/new/">lien vers add a gossip</a>
  </body>
</html>