<!DOCTYPE html>
<html>
<head>
  <title>Gossip Details</title>
</head>
<body>
  <h1>Gossip Details</h1>
  
  <% if @gossip %>
    <p><strong>ID:</strong> <%= @gossip[0] %></p>
    <p><strong>Author:</strong> <%= @gossip[1] %></p>
    <p><strong>Content:</strong> <%= @gossip[2] %></p>
  <% else %>
    <p>Potin non trouvé</p>
  <% end %>

</body>
</html>
